<a href="https://colab.research.google.com/github/jeevitha2304/jeevitha2004/blob/master/Python_File_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Opening a file

In [ ]:
F1 = open("/content/sample_data/Demo.txt","r")

Writing text to a file

In [ ]:
def main():
  obj1 = open("/content/Demo.txt", "w") #Opens a file in Write mode
  obj1.write("Hello, How are you? \n")
  obj1.write("Welcome to The File Handling. \n")
  obj1.write("Enjoy the session. \n")


main()

Closing a File

In [ ]:
fp1 = open("/content/Demo.txt","w")

In [ ]:
fp1.close()

Write numbers from 1 to 20 to ouput file WriteNumbers.txt

In [ ]:
def main():
  obj1 = open("/content/WriteNumbers.txt","w") #Open File in Write mode
  for x in range(1,21):   #Iterates from 1 to 20
    x=str(x)              #Convert Number to String
    obj1.write(x)         #Write Number to a output file
    obj1.write("\n")      #Space to separate Numbers
  obj1.close()            #Close File

main()

Generate 50 numbers with range 500 to 1000.

In [ ]:
from random import randint
fp1 = open("/content/WriteNumRandom.txt","w")
for x in range(51):
  x = randint(500,1000)
  x = str(x)
  fp1.write(x + " ")

fp1.close()

Reading Text From a File

In [ ]:
fp = open("/content/Demo.txt","r")
text = fp.read()
print(text)

In [ ]:
fp = open("/content/Demo.txt","r")
for line in fp:
  print(line)

In [ ]:
fp1 = open("WriteNumbers.txt","r")
num = fp1.read()
print(num)
print(type(num))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

<class 'str'>

Write a program for operation using seek()

In [ ]:
fp1 = open("Weekdays.txt","w+")
fp1.write("Monday\n")
fp1.write("Tuesday\n")
fp1.write("Wednesday\n")
fp1.write("Thursday\n")
fp1.write("Friday\n")
fp1.seek(0)
t = fp1.read()
print(t)

Monday
Tuesday
Wednesday
Thursday
Friday

In [ ]:
fp1.seek(0,2)
fp1.write('Saturday\n')
fp1.write("Sunday\n")
fp1.seek(0)
t = fp1.read()
print(t)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

Exception Handling

In [ ]:
2+'3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
lsst[0]

NameError: name 'lsst' is not defined

In [ ]:
import math
num = int(input('Enter a number: '))
print('The factorial of {0} is {1}'.format(num,math.factorial(num)))

Enter a number: -7

ValueError: factorial() not defined for negative values

In [ ]:
import math
num = int(input('Enter a number: '))
try:
  print('The factorial of {0} is {1}'.format(num,math.factorial(num)))
except ValueError:
  print('Cannot compute factorial for negative number')

Enter a number: -7
Cannot compute factorial for negative number

Recovered from exception

In [ ]:
import math

num = int(input('Enter a number: '))
valid_inp = False

while not valid_inp:                  # !F -> T
  try:
    print('The factorial of {0} is {1}'.format(num,math.factorial(num)))
    valid_inp = True

  except ValueError:
    print('Cannot compute factorial for negative number')
    num = int(input('Please RE-ENTER'))

Enter a number: -9
Cannot compute factorial for negative number
Please RE-ENTER9
The factorial of 9 is 362880

Raised by User Defined Functions

In [ ]:
def getMonth():
  month = int(input('Enter a month (1-12)'))
  if month < 1 or month > 12:
    raise ValueError('Invalid Month Value')
  return month

m = getMonth()
print(m)

Enter a month (1-12)14

ValueError: Invalid Month Value